*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
a:hover {
  color: lightgrey;
  transition: 0.5s ease-in-out;
}

span {
  color: black;
  transition: 0.5s ease-in-out;
}
span:hover {
  color: lightgray;
  transition: 0.5s ease-in-out;
}

body {
  width: 100%;
  min-width: 320px;
  max-height: 100%;
  user-select: none;
  font-family: Montserrat;
  font-weight: 600;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  background: center center / cover url(./assets/images/background-image.jpg) no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 0 15px;
  width: 640px;
}

.header {
  margin-bottom: 25px;
  text-align: center;
}
.puzzle__title {
  cursor: pointer;
}
.puzzle__header {
  padding: 25px 0 0 0;
  color: black;
}
.tooltip {
  font-size: 12px;
  font-weight: 300;
  color: black;
}

.puzzle__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 25px 0 10px 0;
}

.button {
  text-align: center;
  padding: 10px;
  margin: 0 5px;
  width: 75px;
  background: none;
  border: 1px solid darkgray;
  border-radius: 5px;
  color: black;
  font-weight: 400;
  cursor: pointer;
  font-style: normal;
  transition: 0.5s ease-in-out;
}
.button:hover {
  border: 1px solid lightgray;
  background: lightgray;
  color: darkgray;
  transition: 0.5s ease-in-out;
}

.button__start.active {
display: block;
}
.button__start.active ~ .button__restart {
  display: none;
}

.button__start {
  display: none;
  }
.button__restart.active {
    display: block;
  }

.puzzle__container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.puzzle__item {
  margin: 1px;
  cursor: pointer;
  width: 72px;
  height: 72px;
  background: black;
  border: 0px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 600;
  font-family: Montserrat;
  color: white;
  transition: 0.5s ease-in-out;
}
.puzzle__item:hover {
  /* transform: scale(1.1); */
  border: 2px solid lightgrey;
  background: lightgray;
  color: black;
  transition: 0.5s ease-in-out;
}

.footer {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
